<a href="https://colab.research.google.com/github/dhanyasngce/Python-pgms/blob/main/Third_Cj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print()
print(8*"\n")
print("hello world",end='*')
name=input('What is your name ?')
print('hello' +name)

In [ ]:
birth_year=int(input('Enter your birth year:'))
age= 2020-birth_year
print(age)

Enter your birth year:1982
38

In [ ]:
course='Python for Beginners'
print(course.upper())
print(course.lower())
print(course.find('i'))
print(course.find('for'))
print(course.replace('for','ggg'))
x=5
y=6
print('The value of x is {} and y is {}'.format(x,y))
print('I love {1} and {0}'.format('bread','butter'))

PYTHON FOR BEGINNERS
python for beginners
14
7
Python ggg Beginners
The value of x is 5 and y is 6
I love butter and bread

In [ ]:
3/2
3//2
x=(10+3)*2
print(x)
>
<
==
!=

26

In [ ]:
price=25
print(not price>10)
&
|
~
^
>>
<<

False

In [ ]:
temperature=int(input("Enter the todays temperature:"))
if temperature>30:
  print('it is a hot day')
  print('Drink plenty of water')
elif temperature>20:
  print('Moderate climate')
elif temperature>10:
  print("bit cold")
else:
  print('too cold')

Enter the todays temperature:9
too cold

In [ ]:
weight=int(input("What is you weight"))
unit=input("ïs this in Kg or Lbs" )
if unit.upper() == "L":
  converted=int(weight/0.45)
  print('weight in Lbs:' +str(converted))
else:
  converted=int(weight*0.45)
  print(f"weight in Kg {converted}")

What is you weight80
ïs this in Kg or Lbsd
weight in Kg 36

In [ ]:
i=1
while i< 10:
  print(i)
  print(i * '@')
  i=i+1

1
@
2
@@
3
@@@
4
@@@@
5
@@@@@
6
@@@@@@
7
@@@@@@@
8
@@@@@@@@
9
@@@@@@@@@

In [ ]:
names=['áaa','bbb','ccc','ddd',1]
#print(names)
#print(names[-3])
print(names[0:4])
#names[0]='fff'
#print(names)
#print(names[-1])

['áaa', 'bbb', 'ccc', 'ddd']

**List**
- The list is a most versatile datatype available in Python which can be written as a list of comma-separated  values  (items)  between  square  brackets.  Important  thing about a list is that items in a list need not be of the same type.
- Creating a list is  as  simple as  putting different comma-separated values between square brackets.
- For example −list1 = ['physics', 'chemistry', 1997, 2000]
- list2 = [1, 2, 3, 4, 5 ]
- list3 = ["a", "b", "c", "d"]
-The  values  stored  in  a  list  can  be  accessed  using  the  slice  operator[]and [:]with indexes starting at 0 at the beginning of the list and ending with -1.
- The + sign is the concatenation operation And * is the repetition operation

In [ ]:
g1=[123,'xyz','abc','xyz']
g2=['mmm','nnn']
print(len(g1))
g3=[1,5,8,5,10]
print(max(g3))
print(min(g3))

4
10
1

In [ ]:
#Build in list methods
number=[1,2,3,4,5]
number.append(6)
#number.insert(0,-1)
number.remove(3)
number.clear()
print(number)

[]

In [ ]:
g1=[123,'xyz','abc','xyz']
g2=['mmm','nnn']
print('count of xyz',g1.count('xyz'))
print('Index of abc',g1.index('abc'))
g1.extend(g2)
g1.insert(1,'ggg')
g3=[5,9,3,1,2,8]
g3.sort()
g3.sort(reverse=True)
print('Sorted list',g3)
print('Reversed list',g3)
#print('Extended list is',g1)
#print('Ínsert ggg in the index 1',g1)

count of xyz 2
Index of abc 2
Sorted list [9, 8, 5, 3, 2, 1]
Reversed list [9, 8, 5, 3, 2, 1]

In [ ]:
l1=[3,1,7,9]
l1.pop(2)
print('poped list',l1)

poped list [3, 1, 9]

In [ ]:
l1=[1,5,6,8]
l1.clear()
print('Cleared list',l1)

Cleared list []

In [ ]:
l1=[1,5,6,8]
l2=l1.copy()
l1.clear()
print('Çleared list l1',l1)
print('Copied list',l2)

Çleared list l1 []
Copied list [1, 5, 6, 8]

Using List as Stacks
- The  List  can  be  used  as  a  stack.  stack  is  a  data  structure  where  the  last  element added is the first element retrieved.
- The list methods make it very easy to use a list as a stack. To add an item to the top of the stack, use append().To retrieve an item from the top of the stack , use pop() without an explicit index.

In [ ]:
#Using List as Stacks
s1=[2,45,21,67]
#s1.sort()
print(s1)
s1.append(50)
print(s1)
s1.pop()
print(s1)

[2, 45, 21, 67]
[2, 45, 21, 67, 50]
[2, 45, 21, 67]

Using List as Queue
-  lists are not efficient for this purpose. 
 -While appends and pops from the end of list are fast, doing inserts and pops from the beginning of a list is slow since all of the other elements have to be shifted by one
 - To  implement  a  queue,  python  provides  a  module  called  collections  in  which  a method called deque is designed to have fast appends and pops from both ends.

In [ ]:
#Using List as Queues
import collections
q1=collections.deque(['a','b','c','d'])
print(q1)
q1.append('e')
print(q1)
q1.popleft()
print(q1)

deque(['a', 'b', 'c', 'd'])
deque(['a', 'b', 'c', 'd', 'e'])
deque(['b', 'c', 'd', 'e'])

Tuple
- A tuple is a sequence of immutablePython objects. Tuples are sequences, just like lists. 
-  The  differences  between  tuples  and  lists  are,  the  tuples  cannot  be  changed unlike lists and tuples use parentheses, whereas lists use square brackets
- Tuples can be considered as read only lists.

In [ ]:
#Tuples
t1=(93,2,4,1,59)
print(t1)
t2=('a','b')
print(t2)
print(t1[0])
print(t1[0:])
print(t1[0:-1])
print(t1[0:5])
print(t1*2)
print(t1+t2)

(93, 2, 4, 1, 59)
('a', 'b')
93
(93, 2, 4, 1, 59)
(93, 2, 4, 1)
(93, 2, 4, 1, 59)
(93, 2, 4, 1, 59, 93, 2, 4, 1, 59)
(93, 2, 4, 1, 59, 'a', 'b')

#t1[0]=89
#print(t1)
#del t1[0]
#del t1
#Pack and Unpack values,can create tuple even without paranthesis,Reverse operation is called sequence packing 
Works for any sequence on the right hand side

In [ ]:
t1=1,2,3
print(t1)
x,y,z=t1
x
y
print(t1)
print(x,y,z)

(1, 2, 3)
(1, 2, 3)
1 2 3

In [ ]:
#Build in tuples functions
#len(tuple)
#max(tuple)
tuple1,tuple2=(1,2,3),(4,5,6)
print('Length of first tuple',len(tuple1))
print(tuple2)
max(tuple2)
min(tuple2)
#convert a list to tuple
alist=[1,'a','b',20]
atuple=tuple(alist)
print("Tuple elements are",atuple)

Length of first tuple 3
(4, 5, 6)
Tuple elements are (1, 'a', 'b', 20)


Set is an unordered collection of unique items. Setis defined by values separated by comma inside braces{ }.It can have any number of items and they maybe of different types(integer,float,tuple,string etc).items in a set are not ordered. Since they are unordered we cannot access or change an element of set using indexing or slicing. we can perform set operations like union ,intersection, difference on two sets. Set have unique values. They eliminate duplicates. The slicing operator [] does not work with sets. An empty set is created by the function set().

In [ ]:
s1={1,2,3}
print(s1)
s2={1,2,3,1,4,3} #output only unique values
print(s2)
#s3={[2,3]) error

{1, 2, 3}
{1, 2, 3, 4}